<h1><%= @movie.name %></h1>
<%= link_to "Return to movie list", movies_path %>
<p><%= link_to "Edit", edit_movie_path(@movie) %></p>
<p><%= link_to "Delete", movie_path(@movie), :data => {:confirm => "Are you sure?", :method => "delete"} %></p>

<p> <%= link_to "Write a review", new_movie_review_path(@movie) %> </p>

<h3>Reviews:</h3>
<% @movie.reviews.each do |review| %>
  <p>
    "<%= link_to review.description, edit_movie_review_path(@movie, review) %>" | <%= link_to "Delete", movie_review_path(@movie, review), :data => {:confirm => "You sure about this?", :method => "delete"} %>
  </p>
<% end %>
